.dealfinder {
  background-color: lightblue;
  padding: 8px;
  min-height: 100vh;
}

.header {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
}

.title,
.subtitle {
  margin-top: 0;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.navigation li {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .offer {
    width: 23%;
    margin-right: 16px;
  }
}