.header {
    padding: 16px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.navigation li {
    margin-right: 8px;
}

.main {
}

.offers {
    /* height: 100vh; */
    padding: 32px;
    margin: 0;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */
}

.offer {
    background-color: white;
    list-style-type: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.title {
    margin-top: 0;
}

.sizeToggleButton {
    /* background-color: black; */
}

.active {
    background-color: black;
}